:root {
  --height-elem: 100px;
  --width-game-area: 400px;
  --border-radius: 25px;
}

body {
  font-family: 'Grandstander', cursive;
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(to top, #fceabb, #f8b500);
}

.hide {
  display: none !important;
}

.car, .enemy {
  width: calc(var(--height-elem) / 2);
  height: var(--height-elem);
  position: absolute;
  bottom: 150px;
}

.game-area {
  width: var(--width-game-area);
  height: 100vh;
  position: relative;
  margin: auto;
  background: #62635B;
  overflow: hidden;
  box-shadow: 0px 1px 32px 25px rgba(71,62,71,1);
  z-index: 1;
}

.line {
  position: absolute;
  width: 10px;
  height: calc(var(--height-elem) / 2);
  background: #E9EB9A;
  box-shadow: 0px 2px 32px 8px rgba(245,245,61,1);
  left: 195px;
}

.start {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 35%;
  top: 20%;
  width: 30%;
  padding: 2rem 0;
  text-align: center;
  z-index: 3;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: linear-gradient(to top, #fdc830, #f37335);
  border-radius: var(--border-radius);
  box-shadow: 3px 3px 5px 1px #ccc;
  padding: 2rem;
  cursor: pointer;
  transition: .2s;
}

.btn:not(:last-child) {
  margin-bottom: 2rem;
}

.btn:hover {
  box-shadow: -2px 1px 32px 25px rgba(250,250,18,1);
}

.score {
  position: absolute;
  top: 60px;
  left: 20px;
  z-index: 2;
  width: 10%;
  background: linear-gradient(to top, #f9bb13, #f9b705);
  box-shadow: -3px -3px 5px 1px #ccc;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  border-radius: var(--border-radius);
  border: 1px solid #fff;
}


.record {
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 2;
  width: 10%;
  background: linear-gradient(to top, #f9bb13, #f9b705);
  box-shadow: -3px -3px 5px 1px #ccc;  
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  border-radius: var(--border-radius);
  border: 1px solid #fff;
  }


.tree {
  position: absolute;
  width: 60px;
  height: 60px;
  background: transparent url('../img/tree.png') center / cover no-repeat;
}

.tree-side-left, .tree-side-right {
  position: absolute;
  width: calc((100% - var(--width-game-area)) / 2);
  height: 100vh;
  overflow: hidden;
}

.tree-side-right {
  top: 0;
  right: 0;
}
